<ion-view view-title="Goals">
  <ion-content>
    <ion-list>
    <div class="text-center">
      AVAILABLE TO SPEND: {{spend}}
    </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right item item-thumbnail-left" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <a href="#" class="text-right">Transfer</a>
        <a href="#" class="text-right">Edit</a>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>